<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satisfaction Survey</title>
</head>
<body>
    <div id="container">
        <form action="/survey/thank-you" method="post">
            {% for q in survey.questions %}
            <div class="mb-2">
                <div class="form-text">{{q.question}}</div>
                {% for choice in q.choices %}
                    <label>{{choice}}</label>
                    <input name={{choice}} type="checkbox">
                {% endfor %}
            </div>
            
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>